<div class="child" id="childID">
  <main class="person">
    <div class="circle">
      <span class="icon is-large">
        <i class="fas fa-user fa-3x"></i>
      </span>
    </div>
    <h2 class="title is-2">John</h2>
  </main>
  <footer>
    <button class="childrenControl" name="editChild">
      <span class="icon is-normal">
        <i class="fas fa-pencil-alt fa-2x"></i>
      </span>
    </button>
    <button class="childrenControl" name="removeChild">
      <span class="icon is-normal">
        <i class="fas fa-trash fa-2x"></i>
      </span>
    </button>
  </footer>
</div>
