<% include ../partials/header %>

<main id="mainform">
  <div class="block has-text-centered">
    <span class="is-flex">
      <h3 class="title is-3 text-main nomargin-fix">X</h3>
      <h3 class="title is-3 text-unim">&nbsp;BLOCKER</h3>
    </span>
    <h4 class="subtitle is-4 f-cookie">By F1reWall-Es</h4>
  </div>
  <div class="box">
    <form method="post" action="/login/auth">
      <div class="field">
        <label class="label">E-Mail</label>
        <div class="control has-icons-left">
          <input type="text" class="input" placeholder="someone@example.com" name="email">
          <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left">
          <input type="password" class="input" placeholder="Password">
          <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
        </div>
      </div>
      <div class="field has-centered-h">
        <div class="control">
          <button class="button is-primary" type="submit" name="nextSlide">
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</main>

<% include ../partials/footer %>
